= image_tag @profile.logo.url
= image_tag @profile.logo.url(:thumbnail)
%h1= @profile.name

%p
  %b Email:
  = @profile.organisation.email
%p
  %b Description:
  = @profile.description

- if organisation_signed_in?
  = link_to 'Edit', edit_profile_path(@profile)
  \|
= link_to 'Back', root_path

