%h1 Listing animals

%table
  %tr
    %th Name
    %th Sex
    %th Birthdate
    %th Organisation
    %th Description
    %th
    %th
    %th

  - @animals.each do |animal|
    %tr
      %td= animal.name
      %td= animal.sex
      %td= animal.birthdate
      %td= animal.organisation.email
      %td= animal.description
      %td= link_to 'Show', animal

%br
