%p
  %b Name:
  = @animal.name
%p
  %b Sex:
  = @animal.sex
%p
  %b Birthdate:
  = @animal.birthdate
%p
  %b Organisation:
  = @animal.organisation.email
%p
  %b Description:
  = @animal.description

- if organisation_signed_in?
  = link_to 'Edit', edit_animal_path(@animal), id: 'edit-animal-link'
  \|
= link_to 'Back', animals_path
