!!!
%html
  %head
    %title PetRescue
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav
      - if organisation_signed_in?
        = link_to 'Register Animal', new_animal_path, :id => 'animal-registration-link'
        Logged in as
        %em= current_organisation.email
        \.
        = link_to 'Edit profile', edit_organisation_registration_path, :id => 'edit-profile-link'
        |
        = link_to "Logout", destroy_organisation_session_path, method: :delete, :id => 'logout-link'
      - else
        Are you an Organisation? 
        = link_to "Sign up", new_organisation_registration_path, :id => 'signup-link'
        |
        = link_to "Login", new_organisation_session_path, :id => 'login-link'
    = link_to "Home", root_path, :id => 'home-link'
    = link_to "List of animals", animals_path, :id => 'animals-list-link'
    = link_to "List of organisations", organisations_index_path, :id => 'organisations-list-link'

    %p.notice= notice
    %p.alert= alert

    = yield