!!!
%html
  %head
    %title PetRescue
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
  %body
    %nav#main-nav
      = render 'layouts/navigation_bar'

    - flash.each do | name, msg |
      %div{ class: "flash-#{name}" }
        = msg
        %button.close
          &times;

    %main
      = yield

    %footer
      PetRescue.eu
      %address
        #author
          (c) Author Name
        #phone
          615 123 123
        = link_to 'info@petrescue.eu', 'mailto:info@petrescue.eu' , id: 'email'
